#学習データ
data/train/images/*
data/train/labels/*
data/val/images/*
data/val/labels/*
data/test/images/*
data/test/labels/*

#キャッシュ他
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/

yolo*

trainingData/

modeles/train_result
