#学習データ
data/train/images/*.png
data/val/images/*.png
data/test/images/*.png
data/train/images/*.jpg
data/val/images/*.jpg
data/test/images/*.jpg
data/train/images/*.jpeg
data/val/images/*.jpeg
data/test/images/*.jpeg
data/val/labels/*.txt
data/train/labels/*.txt
data/test/labels/*.txt

#キャッシュ他
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/

yolo*

trainingData/*.png
trainingData/*.jpg
trainingData/*.jpeg

modeles/train_result
